{| class="wikitable"
|+ [Total Views = 49667]
|+ [Page Total = 7] [Search Depth = 1]
! colspan="2"| Page Name
! Views
! Total
|-
| colspan="2"| Example Broken Title
| align="right"| -
| align="right"| 
|-
| colspan="2"| [[:Energy]]
| align="right"| 6553
| align="right"| 
|-
| colspan="2"| [[:Category:Hydroelectricity]]
| align="right"| 6064
| align="right"| 43114
|-
| -
| colspan="1"| [[:Alternatives to hydroelectric energy]]
| align="right"| 10297
| align="right"| 
|-
| -
| colspan="1"| [[:Alternatives to hydroelectric energy (original)]]
| align="right"| 4738
| align="right"| 
|-
| -
| colspan="1"| [[:Microhydro]]
| align="right"| 5044
| align="right"| 
|-
| -
| colspan="1"| [[:Tidal power]]
| align="right"| 535
| align="right"| 
|-
| -
| colspan="1"| [[:Category:Microhydro]]
| align="right"| 16436
| align="right"| 
|}
